<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
      integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
      crossorigin="anonymous"
    />
    <title>Document</title>
</head>
<body>
    <div class="main">
        <ul class="nav_ul">
            <li><a href="#">МЕНЮ ЦА</a><i class="fas fa-caret-down icon1"></i></li>
            <li><a href="#">РАСЧЕТНЫЕ ВЕДОМОСТИ</a><i class="fas fa-caret-down icon1"></i></li>
            <li><a href="#">ВЫПЛАТЫ</a><i class="fas fa-caret-down icon1"></i></li>
            <li><a href="#">ОТЧЕТЫ</a><i class="fas fa-caret-down icon1"></i></li>
            <li><a href="#">ОБНОВИТЬ ПИН</a></li>
            <li><a href="#">СПРАВОЧНИКИ</a></li>
            <li><a href="#">САЛЬДО</a></li>
            <li><a href="#">КАРТОЧКА СТРАХОВОГО СЧЕТА</a></li>
        </ul>
        <ul class="main_left">
            <li><a href="#">Плательщики</a></li>
            <li><a href="#">Районы</a></li>
            <li><a href="index.html">Счета</a></li>
            <li><a href="#">СМЗ</a></li>
            <li><a href="#">Банки</a></li>
            <li><a href="#">Рынки</a></li>
            <li><a href="#">РОКи</a></li>
            <li><a href="#">Счета РОКов</a></li>
            <li><a href="vnut.html">Внутренние коды бюджетной классификации</a></li>
        </ul>
        <div class="main_center">
            <table id="table_main">
                <thead>
                    <tr>
                        <th colspan="3" class="header_table">Банки</th>
                    </tr>
                    <tr>
                        <th colspan="14" class="header_table2 bottom">
                            <span>Страница: 1/3</span>
                            <span>Всего: 75</span>
                            <span>Перейти: 1</span>
                            <img class="headerIcons" src="icon/previous.svg">
                            <img class="headerIcons" src="icon/rewind-button.svg">
                            <img style="transform: rotate(180deg);" class="headerIcons" src="icon/rewind-button.svg">
                            <img style="transform: rotate(180deg);" class="headerIcons" src="icon/previous.svg">
                            <span>На странице: 25</span>
                        </th>
                    </tr>
                    <tr class="header_tr">
                        <td width="33%">Код</td>
                        <td width="34%">Полное наименование</td>
                        <td width="33%">Адрес Банка</td>
                    </tr>
                    <tr class="body_tr1">
                        <td>129052</td>
                        <td>Бишкекский филиала ОАО РСК Банк г.Бишкек</td>
                        <td>ул. Киевская 77</td>
                    </tr>
                    <tr class="body_tr1">
                        <td>129052</td>
                        <td>Бишкекский филиала ОАО РСК Банк г.Бишкек</td>
                        <td>ул. Киевская 77</td>
                    </tr>
                    <tr class="body_tr1">
                        <td>129052</td>
                        <td>Бишкекский филиала ОАО РСК Банк г.Бишкек</td>
                        <td>ул. Киевская 77</td>
                    </tr>
                    <tr class="body_tr1">
                        <td>129052</td>
                        <td>Бишкекский филиала ОАО РСК Банк г.Бишкек</td>
                        <td>ул. Киевская 77</td>
                    </tr>
                    <tr class="body_tr1">
                        <td>129052</td>
                        <td>Бишкекский филиала ОАО РСК Банк г.Бишкек</td>
                        <td>ул. Киевская 77</td>
                    </tr>
                    <tr class="body_tr1">
                        <td>129052</td>
                        <td>Бишкекский филиала ОАО РСК Банк г.Бишкек</td>
                        <td>ул. Киевская 77</td>
                    </tr>
                    <tr class="body_tr1">
                        <td>129052</td>
                        <td>Бишкекский филиала ОАО РСК Банк г.Бишкек</td>
                        <td>ул. Киевская 77</td>
                    </tr>
                    <tr class="body_tr1">
                        <td>129052</td>
                        <td>Бишкекский филиала ОАО РСК Банк г.Бишкек</td>
                        <td>ул. Киевская 77</td>
                    </tr>
                    <tr class="body_tr1">
                        <td>129052</td>
                        <td>Бишкекский филиала ОАО РСК Банк г.Бишкек</td>
                        <td>ул. Киевская 77</td>
                    </tr>
                    <tr class="body_tr1">
                        <td>129052</td>
                        <td>Бишкекский филиала ОАО РСК Банк г.Бишкек</td>
                        <td>ул. Киевская 77</td>
                    </tr>
                    <tr class="footer_tr1">
                        <th colspan="3" class="header_table2 bottom">
                            <span>Страница: 1/3</span>
                            <span>Всего: 75</span>
                            <span>Перейти: 1</span>
                            <img class="headerIcons" src="icon/previous.svg">
                            <img class="headerIcons" src="icon/rewind-button.svg">
                            <img style="transform: rotate(180deg);" class="headerIcons" src="icon/rewind-button.svg">
                            <img style="transform: rotate(180deg);" class="headerIcons" src="icon/previous.svg">
                            <span>На странице: 25</span>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
   

</body>
</html>