{% extends 'base.html' %}
{% load static %}
    {% block content %}
        <table id="table_main">
            <thead>
                <tr>
                    <th colspan="8" class="header_table">Внутренние коды бюджетной классификации<button id="btn_add_modal" class="add_button"><span class="btn_in_plus">+</span> Добавить</button></th>
                </tr>
                <tr>
                    <th colspan="8" class="header_table2 bottom">
                        <span>Страница: 1/3</span>
                        <span>Всего: 75</span>
                        <span>Перейти: 1</span>
                        <img class="headerIcons" src="{% static 'icon/previous.svg' %}">
                        <img class="headerIcons" src="{% static 'icon/rewind-button.svg' %}">
                        <img style="transform: rotate(180deg);" class="headerIcons" src="{% static 'icon/rewind-button.svg' %}">
                        <img style="transform: rotate(180deg);" class="headerIcons" src="{% static 'icon/previous.svg' %}">
                        <span>На странице: 25</span>
                    </th>
                </tr>
                <tr class="header_tr">
                    <td width="13.5%">Внутренний код</td>
                    <td width="13.5%">Внешний код</td>
                    <td width="13.5%">Полное наименование</td>
                    <td width="13.5%">Дата с</td>
                    <td width="13.5%">по</td>
                    <td width="13.5%">Тип отчета</td>
                    <td width="13.5%">Тип счета</td>
                    <td width="13.5%"><img class="IconHead" src="{% static 'icon/writing.svg' %}" alt=""></td>
                </tr>
                <tr class="body_tr1">
                    <td>8000</td>
                    <td>121201100</td>
                    <td>Пенсионный фонд (ПФ)</td>
                    <td>02-03-2016</td>
                    <td>20-12-2017</td>
                    <td>Рассчетные ведомость</td>
                    <td>Аккумуляционный</td>
                    <td class="trIcon">
                        <img class="IconBody" src="{% static 'icon/pencil.svg' %}" alt="">
                        <img class="IconBody" src="{% static 'icon/trash.svg' %}" alt="">
                    </td>
                </tr>
                <tr class="body_tr1">
                    <td>8000</td>
                    <td>121201100</td>
                    <td>Пенсионный фонд (ПФ)</td>
                    <td>02-03-2016</td>
                    <td>20-12-2017</td>
                    <td>Рассчетные ведомость</td>
                    <td>Аккумуляционный</td>
                    <td class="trIcon">
                        <img class="IconBody" src="{% static 'icon/pencil.svg' %}" alt="">
                        <img class="IconBody" src="{% static 'icon/trash.svg' %}" alt="">
                    </td>
                </tr>
                <tr class="body_tr1">
                    <td>8000</td>
                    <td>121201100</td>
                    <td>Пенсионный фонд (ПФ)</td>
                    <td>02-03-2016</td>
                    <td>20-12-2017</td>
                    <td>Рассчетные ведомость</td>
                    <td>Аккумуляционный</td>
                    <td class="trIcon">
                        <img class="IconBody" src="{% static 'icon/pencil.svg' %}" alt="">
                        <img class="IconBody" src="{% static 'icon/trash.svg' %}" alt="">
                    </td>
                </tr>
                <tr class="body_tr1">
                    <td>8000</td>
                    <td>121201100</td>
                    <td>Пенсионный фонд (ПФ)</td>
                    <td>02-03-2016</td>
                    <td>20-12-2017</td>
                    <td>Рассчетные ведомость</td>
                    <td>Аккумуляционный</td>
                    <td class="trIcon">
                        <img class="IconBody" src="{% static 'icon/pencil.svg' %}" alt="">
                        <img class="IconBody" src="{% static 'icon/trash.svg' %}" alt="">
                    </td>
                </tr>
                <tr class="body_tr1">
                    <td>8000</td>
                    <td>121201100</td>
                    <td>Пенсионный фонд (ПФ)</td>
                    <td>02-03-2016</td>
                    <td>20-12-2017</td>
                    <td>Рассчетные ведомость</td>
                    <td>Аккумуляционный</td>
                    <td class="trIcon">
                        <img class="IconBody" src="{% static 'icon/pencil.svg' %}" alt="">
                        <img class="IconBody" src="{% static 'icon/trash.svg' %}" alt="">
                    </td>
                </tr>
                <tr class="body_tr1">
                    <td>8000</td>
                    <td>121201100</td>
                    <td>Пенсионный фонд (ПФ)</td>
                    <td>02-03-2016</td>
                    <td>20-12-2017</td>
                    <td>Рассчетные ведомость</td>
                    <td>Аккумуляционный</td>
                    <td class="trIcon">
                        <img class="IconBody" src="{% static 'icon/pencil.svg' %}" alt="">
                        <img class="IconBody" src="{% static 'icon/trash.svg' %}" alt="">
                    </td>
                </tr>
                <tr class="body_tr1">
                    <td>8000</td>
                    <td>121201100</td>
                    <td>Пенсионный фонд (ПФ)</td>
                    <td>02-03-2016</td>
                    <td>20-12-2017</td>
                    <td>Рассчетные ведомость</td>
                    <td>Аккумуляционный</td>
                    <td class="trIcon">
                        <img class="IconBody" src="{% static 'icon/pencil.svg' %}" alt="">
                        <img class="IconBody" src="{% static 'icon/trash.svg' %}" alt="">
                    </td>
                </tr>
                <tr class="body_tr1">
                    <td>8000</td>
                    <td>121201100</td>
                    <td>Пенсионный фонд (ПФ)</td>
                    <td>02-03-2016</td>
                    <td>20-12-2017</td>
                    <td>Рассчетные ведомость</td>
                    <td>Аккумуляционный</td>
                    <td class="trIcon">
                        <img class="IconBody" src="{% static 'icon/pencil.svg' %}" alt="">
                        <img class="IconBody" src="{% static 'icon/trash.svg' %}" alt="">
                    </td>
                </tr>
                <tr class="footer_tr1">
                    <th colspan="8" class="header_table2 bottom">
                        <span>Страница: 1/3</span>
                        <span>Всего: 75</span>
                        <span>Перейти: 1</span>
                        <img class="headerIcons" src="{% static 'icon/previous.svg' %}">
                        <img class="headerIcons" src="{% static 'icon/rewind-button.svg' %}">
                        <img style="transform: rotate(180deg);" class="headerIcons" src="{% static 'icon/rewind-button.svg' %}">
                        <img style="transform: rotate(180deg);" class="headerIcons" src="{% static 'icon/previous.svg' %}">
                        <span>На странице: 25</span>
                    </th>
                </tr>
            </thead>
        </table>
   
        <div id="add_modal">
            <div class="modal_container">
                <span class="close">&times;</span>
                <form>
                    <table>
                        <tr>
                            <td><input type="text" placeholder="Внутренний код"></td>
                            <td><input type="text" placeholder="Внешний код"></td>
                        </tr>
                        <tr>
                            <td><input type="text" placeholder="Полное наименование"></td>
                            <td><input type="text" placeholder="Дата с"></td>
                        </tr>
                        <tr>
                            <td><input type="text" placeholder="по"></td>
                            <td><input type="text" placeholder="Тип отчета"></td>
                        </tr>
                        <tr>
                            <td><input type="text" placeholder="Тип счета"></td>
                        </tr>

                    </table>
                    <button class="btn_modal_add">Добавить</button>
                </form>
            </div>
        </div>

        <script>
            var btn = document.getElementById("btn_add_modal");
            var modal = document.getElementById("add_modal");
            var span = document.getElementsByClassName("close")[0];

            btn.onclick = function() {
                modal.style.display = "block";
            }
            span.onclick = function() {
                modal.style.display = "none";
            }
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>
    {% endblock %}
